.wrapper{
	width:clamp(17rem, 90vw, 75rem);
	padding:0.3rem;
	background-color: white;
	margin:0 auto;
	margin-top: 2rem;
	display:grid;
 	min-height:100vh;
}

.shop-wrapper{
	width:clamp(17rem, 90vw, 75rem);
	padding:0.5rem;
	background-color: white;
	margin:0 auto;
	margin-top: 2rem;
	display:grid;
 	min-height:100vh;
}


*{
	
	box-sizing:border-box;
}

.grid-container{
 	display:grid;
 	grid-template-columns:repeat(8, 1fr);
 	grid-column-gap: 4rem;
 	grid-row-gap: 2rem;
 	margin-bottom: 5rem;
 	/* grid-template-rows: repeat(5, 1fr); */
 	
 
}


section{
	grid-column-start:1;
	grid-column-end:9;
}

#intro{
	grid-template-rows: 5rem;
}

header{
	grid-column-start:1;
	grid-column-end:9;
}

.full{
	grid-column-start:1;
	grid-column-end:9;
}

.para{
	grid-column-start: 3;
	grid-column-end: 7;
}

.sub1{
	grid-column-start:1;
	grid-column-end:9;
}

.icon_placement{
	grid-column:1/9;
	grid-column-end:2;
}

.icon_contents{

	grid-column: 2/9;
	grid-column-end: 9;

}

.no-column-gap{
	grid-column-gap: 0rem;
	margin-left:5rem;
}

.block-1-half{
	grid-column:1/9;
	grid-column-end:5;
}

.block-2-half{

	grid-column:5/9;

}

.first-sub-grid{
	grid-column:1/9;
	grid-column-end:2;
}

.second-sub-grid{
	grid-column:3/9;
}

#QA {
	background-color: #F6F6F6;
	display: none;
	grid-template-columns:repeat(8, 1fr);
	grid-template-rows: 5rem 5rem 5rem 15rem 5rem 1fr 1fr 1fr;
	grid-column-start: 1;
	grid-column-end: 9;
	margin-bottom: 3rem;
}

#QA h2{
	font-family:Bitter, Arial, sans-serif;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 8;
}

#rate_star{
	margin-top: 1rem;
	margin-left: 6rem;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 6;
}

#fname{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 5;	
}

input[id="name"]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.8px solid;
    border-color: #3A2E2A;
    font-size: 1rem;
    font-family: Bitter, Arial, sans-serif;
    background-color: white;
}

#email_box{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 5;
	grid-column-end: 8;	
}

input[id="email"]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.8px solid;
    border-color: #3A2E2A;
    font-size: 1rem;
    font-family: Bitter, Arial, sans-serif;
    background-color: white;
}

#freview{
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 8;	
}

input[id="review"]{
	width: 100%;
	height: 13rem;
}

#QA button{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: #3A2E2A;	
	color: white;
	border-radius: 5px;
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 7;
	grid-column-end: 8;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#QA button:hover{
	background-color: white;
	color: black;
}

/* #QA button :hover{
	background-color: white;
	color: black;
} */

.sidebar{
	grid-column:1/9;
	grid-column-end: auto;

}



/*--------------------------------------------------Grid for Product Details----------------------------------------------------*/
.priceposition{
	grid-column:1/9;
	grid-column-end: 3;
	width: 100%;
}

.starposition{
	grid-column:3/9;
	grid-column-end: 9;
	grid-row-start: 2;
	margin-top: 1.5rem;
}

.productname-position{
	grid-column-start:1;
	grid-column-end:9;
	text-align: left;
}


.card-row-container{
	grid-column:1/9;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-gap:4rem;
}

.style-guide-grid-demo{
	grid-column:1/9;
	display:grid;
	grid-template-columns:0.5fr 1fr 1fr 1fr;
	grid-column-gap:1rem;

}


.shop-page-grid{
	grid-column:2/9;
	display:grid;

}

.icon_row{
  margin-right: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.icon_row_container{
	grid-column:1/9;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-end:5;
}

/*Mobile Size*/
@media screen and (max-width:414px){
.wrapper{
	width:clamp(10rem, 80vw, 75rem);
	margin: 0rem;
}

.grid-container{
	grid-column-gap:3.5rem;
}

#latestArrival figcaption{
	font-size:1rem;
}

#topSeller figcaption{

	font-family:Bitter, Arial, sans-serif;
	font-size:1rem;

}

	.popular-itemlist{
	 display: block;
  	width: 80%;
	}

}

@media screen and (max-width:900px){

	.grid-container{
	grid-column-gap:3.5rem;
}

	.block-2-half{
		grid-column:1/9;
		grid-column-end: 9;
		
	}

	.block-1-half{
		grid-column:1/9;
		grid-column-end:9;
	}

	.grid1{
		grid-column:1/9;
	}

	.grid2{
		grid-column:1/9;
	}

	.itemlist{
		grid-column-start:2;
		margin-top: 2rem;
		grid-column-end: 9;

	}

	.similar_items{
	
		margin-left: 2.5rem;
	}

	.card-row-container{
		grid-column:1/ span 3;
		display:block;
		grid-column-end: 9;
	}

	.card-row-container2{
		grid-column:1/ span 3;
		
		grid-column-end: 9;
	}

	.para{
		grid-column:1/9;
	}

	.productname-position{
	grid-column-start:1;
	grid-column-end:6;
}


	.vertical_line{
  	border-left: 1px solid black;
  	height: 18rem;
 	position: absolute;
 	left: 10%;
 	margin-left: 1.5rem;
 	top: 42rem;
	}

	.shop_line{
		display:none;
	}

	.shop-page-grid{
	grid-column:1/9;
	grid-column-end: 9;
	}

	.sidebar{
	grid-column:1/9;
	grid-column-end: 9;

	}

	.popular-itemlist{
	 display: block;
  	width: 50%;
	}

	.margin_spacing{
		margin-top:1rem;
	}

	#rate_star{
	
	margin-left: 2rem;
	margin-top: 2rem;
	grid-column-end: 8;
}
}





@media screen and (max-width:20em){
.shop-page-grid{
	grid-column:1/9;
	grid-column-end: 9;
	}

	.item-list-grid-container{
		width:15rem;
	}
	}

#martin_comment_info{
	grid-row-start:6;
	grid-column-start: 2;
	grid-column-end: 8;
	margin-bottom: 1rem;
}

#martin_comment{
	grid-row-start: 6;
	grid-column-start: 4;
	grid-column-end: 8;
}

#jason_comment_info{
	grid-row-start:7;
	grid-column-start: 2;
	grid-column-end: 8;
	margin-bottom: 1rem;
}

#jason_comment{
	grid-row-start: 7;
	grid-column-start: 4;
	grid-column-end: 8;
}

#lee_comment_info{
	grid-row-start:8;
	grid-column-start: 2;
	grid-column-end: 8;
	margin-bottom: 1rem;
}

#lee_comment{
	grid-row-start: 8;
	grid-column-start: 4;
	grid-column-end: 8;
}

/*---------------------------------------------Grid for Item List-------------------------------------------*/
.item-img-grid{
	grid-column-start:1;
	grid-column-end:9;
}

.item-info-grid{
	grid-column-start:1;
	grid-column-end:9;
	line-height: 50%;
}

.item-list-grid-container{
	display:grid;
 	grid-template-columns:repeat(8, 1fr);
}

@media screen and (max-width:54rem){
.item-img-grid{
	grid-column:1/9;
	grid-column-end:6;
}

.item-info-grid{
	grid-column:6/9;
	margin-left: 1rem;
	line-height: 100%;
}

.item-image{
	width: 200px;
}

.item-list-grid-container{
	width:25rem;
}

.shopbtn{
	padding:1px;
	font-size: 1rem;
}

#filter{
	width:23rem;
	margin-left: 20%;
}
}

/*--------------------------------------------------footer----------------------------------------------------*/
footer{
	width: 100%;
	background-color: #3A2E2A;
	display:grid;
	grid-template-columns:repeat(4, 1fr);	
}

@media screen and (max-width:833px){
	#footer_logo_part,  #footer_socialMedia{
		grid-column-start: 1;
		grid-column-end: 3;
	}

	#footer_socialMedia{
		margin-left: 3rem;
	}

	#footer_navigation, #footer_Customer{
		grid-column-start: 3;
		grid-column-end: 5;		
	}

	#filter{
		margin-left: 5%;
	}
}

@media screen and (max-width:500px){
	#footer_logo_part, #footer_navigation, #footer_socialMedia, #footer_Customer{
		grid-column-start: 1;
		grid-column-end: 5;
	}

	#footer_logo_part, #footer_socialMedia{
		margin: 0;
	}

	#footer_logo_part{
		margin-top: 3rem;
		text-align: center;
	}

	#footer_navigation, #footer_socialMedia, #footer_Customer{
		margin-left: 3rem;
	}

}

/*--------------------------------------------------grid----------------------------------------------------*/
.grid1{
	grid-column-start: 1;
	grid-column-end: 5;
}

.grid2{
	grid-column-start: 5;
	grid-column-end: 9;
}

@media screen and (max-width:59em){
	.grid1{
		grid-column:1/9;		
	}

	.grid2{
		grid-column:1/9;		
	}

	.grid3{
		grid-column:1/9;	
		margin-top: 1rem;	
	}


}

/*--------------------------------------------------Check Out----------------------------------------------------*/
.co_grid{
	display:grid;
	grid-template-columns:repeat(16, 1fr);
	/* grid-template-rows: repeat(5, 1fr); */
}

.co_left_position{
	grid-column-start: 2;
	grid-column-end: 11;
	border-style: solid;
	border-color: #3A2E2A;
}

.co_right_position{
	grid-column-start: 11;
	grid-column-end: 16;
}

#cart{
	margin-left: 1rem;
	grid-row-start: 1;
	border-style: solid;
	border-color: #3A2E2A;
}

#summary{
	margin-top: 1rem;
	margin-left: 1rem;
	grid-row-start: 2;
	border-style: solid;
	border-color: #3A2E2A;
}

.two_columns_grid{
	display: grid;
	grid-template-columns:1fr 1fr;

}

@media screen and (max-width:54rem){
	#cart{
		grid-column-start: 1;
		grid-column-end: 17;
	}
	#summary{
		grid-column-start: 1;
		grid-column-end: 17;
		grid-row-start: 2;
		margin-bottom: 1rem;
	}

	.co_left_position{
		grid-column-start: 2;
		grid-column-end: 16;
	}

}

/*--------------------------------------------------FAQ----------------------------------------------------*/
#general_questions, #FAQ_return, #FAQ_shipping{
	grid-column-start: 2;
	grid-column-end: 12;
}

#FAQ_additionalInfo{
	grid-column-start: 12;
	grid-column-end: 16;
	grid-row-start: 1;
	border: none;
	margin-left: 2rem;
}

.FAQ_grid{
	display: grid;
	grid-template-columns:repeat(16, 1fr);
}

@media screen and (max-width:850px){
	#general_questions, #FAQ_return, #FAQ_shipping{
		grid-column-start: 2;
		grid-column-end: 16;
	}	

	#FAQ_additionalInfo{
		grid-column-start: 2;
		grid-column-end: 16;
		grid-row-start: 4;
		border: none;
	}

}

@media screen and (max-width:600px){
	.FAQ_grid section{
		border: none;
	}
	
	#FAQ_return{
		border: none;
	}

	.FAQ_grid img{
		width: 4rem;
	}

	main h2{
		font-size: 28px;
	}


	#FAQ_shipping h3, #FAQ_shipping p{
		margin-left: 4rem;
	}

	main h3{
		line-height: 1;
	}

	#sub_FAQ_shipping{
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: gray;
	}
}

/*--------------------------------------------------Home----------------------------------------------------*/
#topSeller{
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	/*grid-template-rows:5rem 1fr;*/	
}

#topSeller figure{
	grid-row-start: 2;
}

#topSeller h3{
	grid-column-start: 2;
	text-align: center;
}

#learnMore{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
}

#latestArrival{
	display: grid;
	grid-template-columns:repeat(4, 1fr);
	/*grid-template-rows:5rem 1fr;*/		
}

#latestArrival figure{
	grid-row-start: 2;
}

#latestArrival h3{
	grid-column-start: 2;
	grid-column-end: 4;
	text-align: center;
}

#aboutUs{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
}

@media screen and (max-width:54rem){
	.hero_img{
		background-image: url("../img/hero_img2_mobile_ver.png");
	  }

	  #learnMore img{
		width: 100%;
		grid-column-start: 1;
		grid-column-end: 3;		  
	  }

	  #learnMore div{
		text-align: center;
		grid-column-start: 1;
		grid-column-end: 3;		  
	  }

	  #aboutUs{
		grid-template-rows:1fr 15rem;
	}

	  #aboutUs img{
		width: 100%;
		grid-column-start: 1;
		grid-column-end: 3;		  
	  }

	  #aboutUs div{
		text-align: center;
		grid-column-start: 1;
		grid-column-end: 3;	
		grid-row-start: 2;	  
	  }

	  #hero_text{
		margin-left: 0rem;
	}

	#hero_text p{
		margin-left: 3rem;
		margin-right: 3rem;
		width: auto;
		text-align: center;
	}

	#hero_text h1{
		text-align: center;
		margin-bottom: 1rem;
	}

	#hero_text a{
		display: block;
		text-decoration: none;
		background-color: #FFAF34;
		border-radius: 0.5rem;
		text-align: center;	
		margin-left: auto;
		margin-right: auto;
		width: 18rem;
			
	}

	.hero_img{
		min-height: 70rem;
	  }

	  .bitter_bigger_header{
		text-align: center;
	}

}