.wrapper{
	width:clamp(17rem, 90vw, 75rem);
	padding:0.5rem;
	background-color: white;
	margin:0 auto;
	display:grid;
 	min-height:100vh;
}

.shop-wrapper{
	/*width:clamp(17rem, 90vw, 75rem);*/
	padding:0.5rem;
	background-color: white;
	margin:0 auto;
	display:grid;
 	min-height:100vh;
}


*{
	
	box-sizing:border-box;
}

.grid-container{
 	display:grid;
 	grid-template-columns:repeat(8, 1fr);
 	grid-column-gap: 4rem;
 	grid-row-gap: 2rem;
 	margin-bottom: 5rem;
 	/* grid-template-rows: repeat(5, 1fr); */
 	
 
}


section{
	grid-column-start:1;
	grid-column-end:9;
}

#intro{
	grid-template-rows: 5rem;
}

header{
	grid-column-start:1;
	grid-column-end:9;
}

.full{
	grid-column-start:1;
	grid-column-end:9;
}

.para{
	grid-column-start: 3;
	grid-column-end: 7;
}

.sub1{
	grid-column-start:1;
	grid-column-end:9;
}

.block-1-half{
	grid-column:1/9;
	grid-column-end:5;
}

.block-2-half{

	grid-column:5/9;

}

.first-sub-grid{
	grid-column:1/9;
	grid-column-end:2;
}

.second-sub-grid{
	grid-column:3/9;
}

#QA {
	background-color: #F6F6F6;
	display: grid;
	grid-template-columns:repeat(8, 1fr);
	grid-template-rows: 5rem 5rem 5rem 15rem 5rem;
}

#QA h2{
	font-family:Bitter, Arial, sans-serif;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 8;
}

#rate_star{
	margin-top: 1rem;
	margin-left: 6rem;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 6;
}

#fname{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 5;	
}

input[id="name"]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.8px solid;
    border-color: #3A2E2A;
    font-size: 1rem;
    font-family: Bitter, Arial, sans-serif;
    background-color: white;
}

#email_box{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 5;
	grid-column-end: 8;	
}

input[id="email"]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.8px solid;
    border-color: #3A2E2A;
    font-size: 1rem;
    font-family: Bitter, Arial, sans-serif;
    background-color: white;
}

#freview{
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 8;	
}

input[id="review"]{
	width: 100%;
	height: 13rem;
}

#QA button{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: #3A2E2A;	
	color: white;
	border-radius: 5px;
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 7;
	grid-column-end: 8;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#QA button:hover{
	background-color: white;
	color: black;
}

/* #QA button :hover{
	background-color: white;
	color: black;
} */

.sidebar{
	grid-column:1/9;
	grid-column-end: auto;
}



/*--------------------------------------------------Grid for Product Details----------------------------------------------------*/
.priceposition{
	grid-column:1/9;
	grid-column-end: 3;
	width: 100%;
}

.starposition{
	grid-column:3/9;
	grid-column-end: 9;
	grid-row-start: 2;
	margin-top: 1.5rem;
}

.productname-position{
	grid-column-start:1;
	grid-column-end:9;
	text-align: left;
}


.card-row-container{
	grid-column:1/9;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-gap:4rem;
}

.style-guide-grid-demo{
	grid-column:1/9;
	display:grid;
	grid-template-columns:0.5fr 1fr 1fr 1fr;
	grid-column-gap:1rem;

}


.shop-page-grid{
	grid-column:2/9;
	display:grid;

}



@media screen and (max-width:58em){
	.block-2-half{
		grid-column:1/9;
		grid-column-end: 9;
		
	}

	.block-1-half{
		grid-column:1/9;
		grid-column-end:9;
	}

	.grid1{
		grid-column:1/9;
	}

	.grid2{
		grid-column:1/9;
	}

	.itemlist{
		grid-column-start:2;
		margin-top: 2rem;
		grid-column-end: 9;
	}

	.card-row-container{
		grid-column:1/ span 3;
		
		grid-column-end: 9;
	}

	.card-row-container2{
		grid-column:1/ span 3;
		
		grid-column-end: 9;
	}

	.para{
		grid-column:1/9;
	}

	.productname-position{
	grid-column-start:1;
	grid-column-end:6;
}


	.vertical_line{
  	border-left: 1px solid black;
  	height: 18rem;
 	position: absolute;
 	left: 10%;
 	margin-left: 1.5rem;
 	top: 42rem;
	}

	.shop_line{
		display:none;
	}

	.shop-page-grid{
	grid-column:1/9;
	grid-column-end: 9;
	}

	.sidebar{
	grid-column:1/9;
	grid-column-end: 9;
	}
}


/*--------------------------------------------------footer----------------------------------------------------*/
footer{
	width: 100%;
	background-color: #3A2E2A;
	display:grid;
	grid-template-columns:repeat(4, 1fr);	
}

/*--------------------------------------------------grid----------------------------------------------------*/
.grid1{
	grid-column-start: 1;
	grid-column-end: 5;
}

.grid2{
	grid-column-start: 5;
	grid-column-end: 9;
}

@media screen and (max-width:59em){
	.grid1{
		grid-column:1/9;		
	}

	.grid2{
		grid-column:1/9;		
	}

	.grid3{
		grid-column:1/9;	
		margin-top: 1rem;	
	}


}

/*--------------------------------------------------FAQ----------------------------------------------------*/
.co_grid{
	display:grid;
	grid-template-columns:repeat(16, 1fr);
	/* grid-template-rows: repeat(5, 1fr); */
}

.co_left_position{
	grid-column-start: 2;
	grid-column-end: 11;
	border-style: solid;
	border-color: #3A2E2A;
}

.co_right_position{
	grid-column-start: 11;
	grid-column-end: 16;
}

#cart{
	margin-left: 1rem;
	grid-row-start: 1;
	border-style: solid;
	border-color: #3A2E2A;
}

#summary{
	margin-top: 1rem;
	margin-left: 1rem;
	grid-row-start: 2;
	border-style: solid;
	border-color: #3A2E2A;
}

