body{
	font-family:Work Sans,Arial,sans-serif;
}
/*----------------------------------------------General class---------------------------------------------------*/
.inline{
	display: inline;
}




/*----------------------------------------------Headers---------------------------------------------------*/

h1{
	font-family:Oswald, Arial, sans-serif;
	font-size:3rem;
	font-weight:normal;
	margin-top: 5rem;
	margin-left: 1rem;
	letter-spacing: 2px;
	font-weight:bold;

	color:#E9E8E8;	
}

.mainheader{
	font-family:Oswald, Arial, sans-serif;
	font-size:3rem;
	font-weight:normal;
	margin-top: 5rem;
	margin-left: 1rem;
	letter-spacing: 2px;
	font-weight:bold;
	color:#3A2E2A;	
}

h2{
	font-family:Oswald, Arial, sans-serif;
	font-size:2.5rem;
	font-weight: bold;
	text-align: center;
	color:#3A2E2A;
	
}

.bitter_bigger_header{
	font-family:Bitter, Arial, sans-serif;
	font-size:2.5rem;
	font-weight: bold;
	color:#3A2E2A;
	margin-bottom: 0.5rem;
}

h3{
	font-family:Bitter, Arial, sans-serif;
	font-size:1.5rem;
	font-weight: bold;
	color:#3A2E2A;

}

h4{
	font-family:Work Sans, Arial, sans-serif;
	font-size:0.8rem;
	font-weight: bold;
	color:#3A2E2A;
}

p {
	
	font-family:Work Sans, Arial, sans-serif;
	font-size:1rem;
	display: block;
	line-height: 1.3rem;
	color: #000000;
	
	 
}

.para_in_About{
	margin-top: 3.5rem;
	line-height: 1.3rem;
	width:clamp(26ch, 50%, 48ch);
}

.para_margin-bottom{
	margin-bottom: 3rem;
}

.para-max-width{
	width:clamp(45ch, 70%, 68ch);
}

img{
	  
	position: relative;
 	max-width:100%;
	height:auto;
}

.floatRight{
	
	margin-left:10rem}


ul,ol{
	font-family:Bitter, Arial, sans-serif;
	font-size:1rem;
	width:clamp(45ch, 70%, 68ch);
}

.header_align{
	text-align:center;
}

.text-highlight{
	color:#B75142;
}

.text-asign-left{
	text-align: left;
}

/*------------------------------------------line---------------------------------------------*/
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#000000;
  height: 1px;
}

.vertical_line{
  border-left: 1px solid black;
  height: 19rem;
  position: absolute;
  left: 50%;
  margin-left: 6rem;
  top: 20rem;
}

.shop_line{
  border-left: 1px solid black;
  height: 105rem;
  position: absolute;
  left: 16rem;
  margin-left: 1rem;
  top: 18rem;
}

/*-----------------------------------------logo-----------------------------------------------*/
.logo{
	margin: 1rem;
}

/*----------------------------------------------In Text Link---------------------------------------------------*/
.intextlink {
	color: #FFAF34;
	text-decoration-color:#FFAF34;
	text-decoration-line: underline;
}

.intextlink:hover {
	color: #B75142;
	text-decoration-color:#B75142;
	text-decoration-line: underline;
}


.description{
  border-top: 5px solid #E9E8E8;
	
	width:100%;
	display:inline-block;
	color:#6C6B6A;
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: #F6F6F6;
 	 margin-top: 1rem;
 	 max-width: 100%;

}

.codetext{
	font-family:Source Code Pro, Arial, sans-serif;
	font-size:.8rem;
}

/*----------------------------------------------Buttons---------------------------------------------------*/
.button {

  border: none;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  
}

.brown_btn{
 background-color: #3A2E2A; /* dark Brown*/
 color: white;
 border-radius: 5px;
 border: 2px solid #3A2E2A;

}

.brown_btn:hover {
	background-color: white;
	color: #3A2E2A;
	
	border-radius: 5px;

}


.yellow_btn{
 background-color: #FFAF34; 
 color: white;
 border-radius: 5px;
 border: 2px solid #FFAF34;

}

.yellow_btn:hover {
	background-color: white;
	color: black;
	
	border-radius: 5px;

}

/*Quantity Option Button*/
.sizebtn{
  padding: 10px 15px;
  background-color: white;
  color: #CECECE;
  border: 2px solid #CECECE;
  margin-bottom: 1.5rem;

}

.sizebtn:focus{

  color: #6C6B6A;
  border: 2px solid #6C6B6A;
  outline:0;
}

/*For Quick Add Module*/
  .quanti{
   min-width: 10ch;
   max-width: 10ch;
   border: 1px solid black;
   font-family:Work Sans, Arial, sans-serif;
   padding: 0.25em 0.5em;
   font-size: 1rem;
   cursor: pointer;
   line-height: 1.1;
   margin-bottom: 0.5rem;
 }

.block-1-half button{
	margin-top: 2rem;
}

/*-----------------------------------------Text Input-----------------------------------------------*/
.txtinput{
 width: 200px;
 padding: 12px 20px;
 margin: 8px 0;
 box-sizing: border-box;
 border: 0.8px solid;
 border-color: #3A2E2A;
 font-size: 1rem;
 font-family: Bitter, Arial, sans-serif;
 background-color: white;

}

label{
	font-family: Bitter, Arial, sans-serif;
  font-size: 1rem;
  color: #3A2E2A;
  
}



::placeholder {
  color: #D4D4D4;
  
}

 /*SELECT OPTIONS*/
  /*reference link:https://moderncss.dev/custom-select-styles-with-pure-css/*/
  select {
    /* A reset of styles, including removing the default dropdown arrow*/
    appearance: none;
    /*Additional resets for further consistency*/
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }
  /*new slect style*/
  .select {
    width: 100%;
    min-width: 10ch;
    max-width: 20ch;
    border: 1px solid black;
    font-family:Work Sans, Arial, sans-serif;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }



.navbtn_pos {
	display: inline;
}





/*-----------------------------------------Footer-----------------------------------------------*/
/*left.right margin are 3rem*/
/*Top margin 2rem*/

footer a{
	text-decoration: none;
	color: white;
	
}

footer h5,footer h3,footer p{
	color: white;
}

#footer_logo_part{
	margin-top: 2rem;
	margin-left: 3rem;

}

#footer_navigation{
	margin-top: 2rem;
}

#footer_navigation h3{
	margin-top: 0;
}

#footer_navigation a{
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#footer_socialMedia div{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#footer_Customer{
	margin-top: 2rem;
}

#footer_Customer h3{
	margin-top: 0;
}

/*----------------------------------------Citation-----------------------------------------*/
.citation-align{
  text-align: center;
  display: block;
 }

 /*--------------------------------------------------Check Out----------------------------------------------------*/
 .FAQ_grid h2{
	text-align: left;
}

#shipping h2{
	background-color: #3A2E2A;
	color: white;
	margin: 0;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#co_shipping_info label{
	margin-left: 8rem;
}

#co_shipping_info input{
	margin-left: 8rem;
}

.co_input{
	width: 50%;
}

#co_shipping_info div{
	margin-top: 1rem;

}

#co_shipping_info select{


	margin-left: 8rem;
	width: 30rem;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

#cart h2{
	background-color: #3A2E2A;
	color: white;
	margin: 0;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#summary h2{
	background-color: #3A2E2A;
	color: white;
	margin: 0;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

 /*--------------------------------------------------FAQ----------------------------------------------------*/
.co_grid h2{
	display: inline;
	padding-bottom: 2rem;
}

.co_grid section{
	border: solid;
}

#FAQ_shipping div{
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

#FAQ_shipping h3, #FAQ_shipping p{
	margin-left: 8rem;
	margin-right: 4rem;
}

main{
	margin-bottom: 2rem;
}

#FAQ_additionalInfo{
	border: none;
}