ul{
  list-style-type: none;
}

.flex_align_center{
  display: flex;
  align-items: center;
}

.flex_spaceBetween{
  display: flex;
  justify-content: space-between;
  margin-left: 12%;
  margin-right: 12%;
}

.marginBot{
  margin-bottom: 2rem;
}

body{
 /* background-color: #efefef;*/
}




/*---------------------------------------------------NAVIGATION-------------------------------------------*/
body{
  margin: 0px;
}
/*Page Nave*/
.pagenav a {
  display:inline-block;
  color:white;
  background-color: #3A2E2A; /* dark Brown*/
  text-decoration:none;
  padding: 0.5em 0.55em;
  margin:0.3rem;
  width: 15rem;
  text-align: center;
}

.pagenav a:hover, .pagenav a:focus{
  background-color: rgb(200,200,200);
}



/*Main Nav*/

.nav_img{
  /*image located at css folder*/
  background-image: url("bg_img.png");

  min-height: 15rem;

  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 /* Needed to position the navbar */
 position: relative;
}

.homenav_img{
  background-image: url("bg_img.png");
  min-height: 5rem;
}


.navfont  {
  overflow: hidden;
  font-family:Oswald, Arial, sans-serif;

}


.navfont a {
  float: left;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.nav_home{
   overflow: hidden;
  font-family:Oswald, Arial, sans-serif;
  }

  .nav_home a {
  float: left;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.nav_home_dropfont{
  color: #3A2E2A;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.navfont a:hover, .nav_home a:hover,  .dropdown:hover .dropbtn, .dropdown:hover .home_dropbtn{
  color: #FFAF34;
}

.dropdown .dropbtn{
  font-size: 1.5rem; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.home_dropbtn{
    font-size: 1.5rem; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #3A2E2A;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f6f6f6;
}

.dropdown:hover .dropdown-content {
  display: block;
}





/*----------------------------------------------COLOR BOX-----------------------------------------------*/

.inBlockText {
	/* margin: auto; */
	/* width: 100%; */
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 4px;
  padding: 2.5em;
  margin: .75em;
}

.inBlockText2 {
  text-align: center;
  color: #000000;
  letter-spacing: 4px;
  padding: 2.5em;
  margin: .75em;
}

#yellow{
	background-color: #FFAF34;
}

#darkbrown{
	background-color: #3A2E2A;
}

#red{
	background-color: #B75142;
}

#darkgrey{
	background-color: #6C6B6A;
}

#lightgrey{
	background-color: #D4D4D4;
}

#white{
	background-color: #F6F6F6;
}

/*color class for grid layout examples*/
.yellow{
  background-color: #FFAF34;
}

.darkgrey{
  background-color: #6C6B6A;
}



/*----------------------------------------------PRODUCT DETAILS-----------------------------------------------*/
.table {
  display: table;   /* Allow the centering to work */
  margin: 10px 0;
}

ul#infotitle{
  /*min-width: 100px;*/
  list-style: none;
  
  padding: 0;

}

ul#infotitle li {
  display: inline;
  margin: 2rem ;

}

ul#infolist{
  /*min-width: 100px;*/
  list-style: none;
  
  padding: 0;

}

ul#infolist li {
  display: inline;
  margin: 2rem ;

}


.item_descriptname{
  font-family:Work Sans, Arial, sans-serif;
  font-size:1rem;
  font-weight: bold;
  color:#3A2E2A;

}


.item_descriptinfo {
 font-family:Bitter, Arial, sans-serif;
 font-size:0.9rem;
 font-weight: lighter;
 color:#3A2E2A;

}


/*REVIEW STARS*/

  .star-filled {
    background: #FFAF34;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .star-empty {
    background: #6C6B6A;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .purchase-button-size{
    width: 80%;
    
  
  }


/*--------------------------------------------------------PRODUCT LIST---------------------------------------------------------------------*/


/*PRODUCT LIST*/
.itemlist {
  
  width: 20rem;
  text-align: center;
  margin-bottom: 5px;
  line-height: 80%; 
  margin-bottom: 5rem;
}





.quickbtn{
    background-color: Transparent;
    color: #FFAF34;
    font-weight: lighter;
    text-decoration: underline;
}

.quickbtn:hover{

  color: #3A2E2A;
 
}

.price-txt{
  font-family:Bitter, Arial, sans-serif;
  font-size:1rem;
  font-weight: lighter;
  color:#3A2E2A;
}

.shopbtn{
  width: 83%;
}

.item-image{
  opacity: 1;
  margin-bottom: 1rem;
  width:80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.itemlist:hover .item-image {
  opacity: 0.3;
}

.popular-itemlist {
  
  width: 15rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.popular-itemlist:hover .item-image {
  opacity: 0.3;
}



/*-----------------------------------------Filter-----------------------------------------------*/
#filter{
  width: 15rem;
  height: 18rem;
  border: 0.5px solid black;
  /*margin-top: 3rem;*/
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

}

#filter h2{
  font-family: Bitter, Arial, sans-serif;
  text-align: left;
}

#filter input{
  -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
  -webkit-transition: .2s;
    transition: opacity .2s;
}

#filter input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFAF34;
    cursor: pointer;
}

/*--------------------------------------------About Beer-------------------------------------------*/
.Aboutbeer-img{
  margin-top: 2.8rem;
}

/*------------------------Quantity Inputs----------------------------*/

.quantity {
 display: inline-block;
 margin-bottom: 2.5rem; }

.quantity .input-text.qty {
 width: 60px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: white;
 border: 1px solid white ;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {

 width: 41px;
 height: 41px;
 background-color: #6C6B6A;
 border: 1px solid #6C6B6A;
 color: #E4E4E4;
 cursor:pointer;
 font-size: 35px;
}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #E4E4E4;
 color: #6C6B6A; 
border: 1px solid  #E4E4E4;}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }

/*----------------------------------Quick Add Pop-Up--------------------------------------------------------------------------*/

.popup {
  position: relative;
  display: inline-block;

}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 17rem;
  background-color: #3A2E2A;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-bottom: 0.5rem;
  margin-left: -6rem;
  line-height: 230%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #3A2E2A transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*-------------------------------------------------------QUICK ADD-------------------------------------------------------*/
.quickadd{
 background-color: #3A2E2A; /* dark Brown*/
 color: white;
 text-align: center;
 width:15rem;
 height: 18rem;
 border-radius: 25px;
 padding: 
 line-height: 230%;
}


.labels-in-quickadd{
  font-family: Oswald, Arial, sans-serif;
  font-size: 1.2rem;
  color: #FFAF34;

}
